.post
  %h4 Lorem Ipsum Veroeros
  .contentarea
    .details
      Posted by
      %a{:href => "#"} Jane Doe
      on September 25, 2006
    %p Volutpat at varius sed sollicitudin et, arcu. Vivamus viverra. Nullam turpis. Vestibulum sed etiam. Lorem ipsum sit amet dolore. Nulla facilisi. Sed tortor. Aenean felis. Quisque eros. Cras lobortis commodo metus. Vestibulum vel purus. In eget odio in sapien adipiscing blandit. Quisque augue tortor, facilisis sit amet, aliquam, suscipit vitae, cursus sed, arcu lorem ipsum dolor sit amet.
    %ul.controls
      %li
        %a.printerfriendly{:href => "#"} Printer Friendly
      %li
        %a.comments{:href => "#"} Comments (18)
      %li
        %a.more{:href => "#"} Read More
.divider2
.post
  %h4 Consequat Odio Vestibulum
  .contentarea
    .details
      Posted by
      %a{:href => "#"} Jane Doe
      on September 25, 2006
    %img.left{:alt => "A chinese dragon", :src => "/images/pic3.jpg"}/
    %p Aenean felis quisque eros. Cras lobortis commodo lorem ipsum dolor. Vestibulum vel purus. In eget odio in sapien adipiscing blandit. Lorem ipsum dolor sit amet consequat etiam sed dolore.
    %ul.controls
      %li
        %a.printerfriendly{:href => "#"} Printer Friendly
      %li
        %a.comments{:href => "#"} Comments (18)
      %li
        %a.more{:href => "#"} Read More
.divider2
.post
  %h4 Adipiscing Nullam
  .contentarea
    .details
      Posted by
      %a{:href => "#"} Jane Doe
      on September 25, 2006
    %p Eget odio in sapien adipiscing blandit. Quisque augue tortor, facilisis sit amet, aliquam, suscipit vitae, cursus sed, arcu lorem ipsum dolor sit amet felis quisque eros. Cras lobortis commodo lorem ipsum dolor. Vestibulum vel purus. In eget odio in sapien adipiscing blandit. Quisque augue tortor, facilisis sit amet, aliquam, suscipit lorem ipsum dolor.
    %ul.controls
      %li
        %a.printerfriendly{:href => "#"} Printer Friendly
      %li
        %a.comments{:href => "#"} Comments (18)
      %li
        %a.more{:href => "#"} Read More

