%ul
  - search.each_hit_with_result do |hit, element|
    %li
      - if highlight = hit.highlight(:name)
        != hit.highlight(:name).format {|f| "<span class=\"highlight\">" + h(f) + "</span>"}
      - else
        = element.name
      .details
        = element.full_path
